testsuite/src/resources/webservice/samples2/rpclit/wsdl/OrderProcessService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='OrderProcessService' targetNamespace='http://org.jboss.test.webservice/samples2' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://org.jboss.test.webservice/sampels2/types' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://org.jboss.test.webservice/samples2' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema targetNamespace='http://org.jboss.test.webservice/sampels2/types' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://org.jboss.test.webservice/sampels2/types' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='OrderException'>
    <sequence>
     <element name='message' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='OrderItem'>
    <sequence>
     <element name='name' nillable='true' type='string'/>
     <element name='quantity' type='int'/>
    </sequence>
   </complexType>
   <complexType name='OrderItem.Array'>
    <sequence>
     <element maxOccurs='unbounded' minOccurs='0' name='value' nillable='true' type='tns:OrderItem'/>
    </sequence>
   </complexType>
   <complexType name='OrderResponse'>
    <sequence>
     <element maxOccurs='unbounded' minOccurs='0' name='items' nillable='true' type='tns:OrderItem'/>
     <element name='message' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='Person'>
    <sequence>
     <element name='age' type='int'/>
     <element name='name' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <element name='OrderException' type='tns:OrderException'/>
  </schema>
 </types>
 <message name='OrderProcess_processOrder'>
  <part name='arrayOfOrderItem_1' type='ns1:OrderItem.Array'/>
  <part name='Person_2' type='ns1:Person'/>
 </message>
 <message name='OrderProcess_processOrderResponse'>
  <part name='result' type='ns1:OrderResponse'/>
 </message>
 <message name='OrderException'>
  <part element='ns1:OrderException' name='OrderException'/>
 </message>
 <portType name='OrderProcess'>
  <operation name='processOrder' parameterOrder='arrayOfOrderItem_1 Person_2'>
   <input message='tns:OrderProcess_processOrder'/>
   <output message='tns:OrderProcess_processOrderResponse'/>
   <fault message='tns:OrderException' name='OrderException'/>
  </operation>
 </portType>
 <binding name='OrderProcessBinding' type='tns:OrderProcess'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='processOrder'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://org.jboss.test.webservice/samples2' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://org.jboss.test.webservice/samples2' use='literal'/>
   </output>
   <fault name='OrderException'>
    <soap:fault name='OrderException' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='OrderProcessService'>
  <port binding='tns:OrderProcessBinding' name='OrderProcessPort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>