testsuite/src/resources/xml/multispaced/jdbcpm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:jdbcpm="http://jboss.org/xmbean/persistence/jdbc"
   targetNamespace="http://jboss.org/xmbean/persistence/jdbc"
   elementFormDefault="qualified">

   <xs:element name="persistence-manager">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="datasource" type="xs:string"/>
            <xs:element name="table" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
