testsuite/src/resources/webservice-ws4ee/admindevel/META-INF/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HelloService" targetNamespace="http://org.jboss.webservice/example" xmlns:tns="http://org.jboss.webservice/example" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://org.jboss.webservice/example/types" xmlns:ns3="http://org.jboss.webservice/example/types/arrays/org/jboss/test/webservice/admindevel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://org.jboss.webservice/example/types/arrays/org/jboss/test/webservice/admindevel" xmlns:tns="http://org.jboss.webservice/example/types/arrays/org/jboss/test/webservice/admindevel" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://org.jboss.webservice/example/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://org.jboss.webservice/example/types"/>
      <complexType name="HelloObjArray">
        <sequence>
          <element name="value" type="ns2:HelloObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
    </schema>
    <schema targetNamespace="http://org.jboss.webservice/example/types" xmlns:tns="http://org.jboss.webservice/example/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://org.jboss.webservice/example/types/arrays/org/jboss/test/webservice/admindevel"/>
      <complexType name="HelloObj">
        <sequence>
          <element name="msg" type="string" nillable="true"/>
        </sequence>
      </complexType>
    </schema>
  </types>
  <message name="Hello_helloArray">
    <part name="arrayOfHelloObj_1" type="ns3:HelloObjArray"/>
  </message>
  <message name="Hello_helloArrayResponse">
    <part name="result" type="ns3:HelloObjArray"/>
  </message>
  <message name="Hello_helloBean">
    <part name="HelloObj_1" type="ns2:HelloObj"/>
  </message>
  <message name="Hello_helloBeanResponse">
    <part name="result" type="ns2:HelloObj"/>
  </message>
  <message name="Hello_helloString">
    <part name="String_1" type="xsd:string"/>
  </message>
  <message name="Hello_helloStringResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <portType name="Hello">
    <operation name="helloArray" parameterOrder="arrayOfHelloObj_1">
      <input message="tns:Hello_helloArray"/>
      <output message="tns:Hello_helloArrayResponse"/>
    </operation>
    <operation name="helloBean" parameterOrder="HelloObj_1">
      <input message="tns:Hello_helloBean"/>
      <output message="tns:Hello_helloBeanResponse"/>
    </operation>
    <operation name="helloString" parameterOrder="String_1">
      <input message="tns:Hello_helloString"/>
      <output message="tns:Hello_helloStringResponse"/>
    </operation>
  </portType>
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="helloArray">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.webservice/example"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.webservice/example"/>
      </output>
    </operation>
    <operation name="helloBean">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.webservice/example"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.webservice/example"/>
      </output>
    </operation>
    <operation name="helloString">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://org.jboss.webservice/example"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://org.jboss.webservice/example"/>
      </output>
    </operation>
  </binding>
  <service name="HelloService">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
